In [133]:
##################################
#
#   Ersin Kaan Aygun
#
##################################

In [134]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [135]:
loan_test = pd.read_csv('loan_test.csv')
loan_train = pd.read_csv('loan_train.csv')

In [136]:
loan_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001008,Male,No,0,Graduate,No,6000,0,4.948760,360,1,Urban,Y
1,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,5.587249,360,1,Urban,Y
2,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,4.553877,360,1,Urban,Y
3,LP001024,Male,Yes,2,Graduate,No,3200,700,4.248495,360,1,Urban,Y
4,LP001028,Male,Yes,2,Graduate,No,3073,8106,5.298317,360,1,Urban,Y

In [137]:
#handling missing values on the training data
loan_train.isnull().sum()
for i in loan_train.isnull().sum():
    if i == False:
        print('There is {} missing values in this feature, handling is not required!'.format([i]))
    else:
        print('There is {} missing values, handling is required'.format([i]))

There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!

In [138]:
#handling missing values on the test data
loan_test.isnull().sum()
for i in loan_test.isnull().sum():
    if i == False:
        print('There is {} missing values in this feature, handling is not required!'.format([i]))
    else:
        print('There is {} missing values, handling is required'.format([i]))

There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!
There is [0] missing values in this feature, handling is not required!

In [151]:
#I will do missing values handling for practice
loan_train["Loan_Status"].fillna(loan_train["Loan_Status"].mode()[0],inplace=True)
loan_train["Married"].fillna(loan_train["Married"].median(),inplace=True)
loan_train["Education"].fillna(loan_train["Education"].median(),inplace=True)
loan_train["Self_Employed"].fillna(loan_train["Self_Employed"].median(),inplace=True)
loan_train["Gender"].fillna(loan_train["Gender"].median(),inplace=True)
loan_train["Property_Area"].fillna(loan_train["Property_Area"].median(),inplace=True)

loan_test["Loan_Status"].fillna(loan_test["Loan_Status"].median(),inplace=True)
loan_test["Married"].fillna(loan_test["Married"].median(),inplace=True)
loan_test["Education"].fillna(loan_test["Education"].median(),inplace=True)
loan_test["Self_Employed"].fillna(loan_test["Self_Employed"].median(),inplace=True)
loan_test["Gender"].fillna(loan_test["Gender"].median(),inplace=True)
loan_test["Property_Area"].fillna(loan_test["Property_Area"].median(),inplace=True)

In [152]:
loan_train['Loan_Status'].unique()

array([1, 0])

In [153]:
lb_make = LabelEncoder()
loan_train["Loan_Status"] = lb_make.fit_transform(loan_train["Loan_Status"])
loan_train["Married"] = lb_make.fit_transform(loan_train["Married"])
loan_train["Education"] = lb_make.fit_transform(loan_train["Education"])
loan_train["Self_Employed"] = lb_make.fit_transform(loan_train["Self_Employed"])
loan_train["Gender"] = lb_make.fit_transform(loan_train["Gender"])
loan_train["Property_Area"] = lb_make.fit_transform(loan_train["Property_Area"])
loan_test["Loan_Status"] = lb_make.fit_transform(loan_test["Loan_Status"])
loan_test["Married"] = lb_make.fit_transform(loan_test["Married"])
loan_test["Education"] = lb_make.fit_transform(loan_test["Education"])
loan_test["Self_Employed"] = lb_make.fit_transform(loan_test["Self_Employed"])
loan_test["Gender"] = lb_make.fit_transform(loan_test["Gender"])
loan_test["Property_Area"] = lb_make.fit_transform(loan_test["Property_Area"])

In [154]:
loan_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001954,0,1,1,0,0,4666,0.0,4.905275,360,1,2,1
1,LP001401,1,1,1,0,0,14583,0.0,5.220356,180,1,0,1
2,LP002004,1,0,0,1,0,2927,2405.0,4.709530,360,1,1,1
3,LP002305,0,0,0,0,0,4547,0.0,4.744932,360,1,1,1
4,LP002314,0,0,0,1,0,2213,0.0,4.189655,360,1,0,1

In [155]:
loan_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001008,1,0,0,0,0,6000,0,4.948760,360,1,2,1
1,LP001011,1,1,2,0,1,5417,4196,5.587249,360,1,2,1
2,LP001013,1,1,0,1,0,2333,1516,4.553877,360,1,2,1
3,LP001024,1,1,2,0,0,3200,700,4.248495,360,1,2,1
4,LP001028,1,1,2,0,0,3073,8106,5.298317,360,1,2,1

In [156]:
features = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Credit_History','Property_Area']

x_train = loan_train.loc[:,features]
x_test = loan_test.loc[:,features]

y_train = loan_train.loc[:,['Loan_Status']]
y_test = loan_test.loc[:,['Loan_Status']]

In [157]:
y_test.head()

   Loan_Status
0            1
1            1
2            1
3            1
4            1

In [158]:
logreg = LogisticRegression(C=1e5,solver='lbfgs',multi_class='multinomial')
logreg.fit(x_train,y_train)
y_pred = logreg.predict(x_test)

C:\Users\ersin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [159]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0], dtype=int64)

In [160]:
Y = []
for i in y_test.to_numpy():
    Y.append(i[0])
Y

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0]

In [161]:
accuracy = np.sum(y_pred == Y)/len(y_pred)
print("%s: %f" % ("The accuracy on test data is", accuracy))

The accuracy on test data is: 0.920354

In [162]:
for i in range(len(x_test)):
    print('LoanID : {} *** Probability to be Approved : {},   ***  Loan Aplication Result: {}'.format(loan_test['Loan_ID'][i], logreg.predict_proba(x_test)[i][1], y_pred[i]))

LoanID : LP001008 *** Probability to be Approved : 0.7403257895872627,   ***  Loan Aplication Result: 1
LoanID : LP001011 *** Probability to be Approved : 0.805870783678192,   ***  Loan Aplication Result: 1
LoanID : LP001013 *** Probability to be Approved : 0.7516250797023384,   ***  Loan Aplication Result: 1
LoanID : LP001024 *** Probability to be Approved : 0.9138411468730199,   ***  Loan Aplication Result: 1
LoanID : LP001028 *** Probability to be Approved : 0.8070218981255181,   ***  Loan Aplication Result: 1
LoanID : LP001097 *** Probability to be Approved : 0.7906232369861272,   ***  Loan Aplication Result: 1
LoanID : LP001098 *** Probability to be Approved : 0.8544420726672252,   ***  Loan Aplication Result: 1
LoanID : LP001138 *** Probability to be Approved : 0.92321879536946,   ***  Loan Aplication Result: 1
LoanID : LP001155 *** Probability to be Approved : 0.7683282589643676,   ***  Loan Aplication Result: 1
LoanID : LP001195 *** Probability to be Approved : 0.8642481100190778,   ***  Loan Aplication Result: 1
LoanID : LP001205 *** Probability to be Approved : 0.8302299379059881,   ***  Loan Aplication Result: 1
LoanID : LP001206 *** Probability to be Approved : 0.9158603598326956,   ***  Loan Aplication Result: 1
LoanID : LP001253 *** Probability to be Approved : 0.8735387615968966,   ***  Loan Aplication Result: 1
LoanID : LP001255 *** Probability to be Approved : 0.7583049987613634,   ***  Loan Aplication Result: 1
LoanID : LP001265 *** Probability to be Approved : 0.782536778951491,   ***  Loan Aplication Result: 1
LoanID : LP001273 *** Probability to be Approved : 0.7907958640218323,   ***  Loan Aplication Result: 1
LoanID : LP001279 *** Probability to be Approved : 0.7187590046332464,   ***  Loan Aplication Result: 1
LoanID : LP001282 *** Probability to be Approved : 0.8562922710901681,   ***  Loan Aplication Result: 1
LoanID : LP001316 *** Probability to be Approved : 0.8360691539783319,   ***  Loan Aplication Result: 1
LoanID : LP001322 *** Probability to be Approved : 0.7580950683423894,   ***  Loan Aplication Result: 1
LoanID : LP001325 *** Probability to be Approved : 0.7722459745953882,   ***  Loan Aplication Result: 1
LoanID : LP001333 *** Probability to be Approved : 0.9013196256351897,   ***  Loan Aplication Result: 1
LoanID : LP001439 *** Probability to be Approved : 0.6906491230258185,   ***  Loan Aplication Result: 1
LoanID : LP001443 *** Probability to be Approved : 0.8027852882783023,   ***  Loan Aplication Result: 1
LoanID : LP001449 *** Probability to be Approved : 0.7481966573391513,   ***  Loan Aplication Result: 1
LoanID : LP001473 *** Probability to be Approved : 0.7757844995667131,   ***  Loan Aplication Result: 1
LoanID : LP001491 *** Probability to be Approved : 0.8815624239756905,   ***  Loan Aplication Result: 1
LoanID : LP001493 *** Probability to be Approved : 0.7974022001231895,   ***  Loan Aplication Result: 1
LoanID : LP001498 *** Probability to be Approved : 0.7220765804467497,   ***  Loan Aplication Result: 1
LoanID : LP001520 *** Probability to be Approved : 0.8554668375749227,   ***  Loan Aplication Result: 1
LoanID : LP001541 *** Probability to be Approved : 0.8705564086120924,   ***  Loan Aplication Result: 1
LoanID : LP001565 *** Probability to be Approved : 0.14521043304398862,   ***  Loan Aplication Result: 0
LoanID : LP001577 *** Probability to be Approved : 0.8811890896699691,   ***  Loan Aplication Result: 1
LoanID : LP001586 *** Probability to be Approved : 0.863252201455471,   ***  Loan Aplication Result: 1
LoanID : LP001610 *** Probability to be Approved : 0.06432048999405372,   ***  Loan Aplication Result: 0
LoanID : LP001634 *** Probability to be Approved : 0.7670858065052334,   ***  Loan Aplication Result: 1
LoanID : LP001643 *** Probability to be Approved : 0.8921863052888894,   ***  Loan Aplication Result: 1
LoanID : LP001666 *** Probability to be Approved : 0.687744734882312,   ***  Loan Aplication Result: 1
LoanID : LP001669 *** Probability to be Approved : 0.5854651658228727,   ***  Loan Aplication Result: 1
LoanID : LP001671 *** Probability to be Approved : 0.8586842188910596,   ***  Loan Aplication Result: 1
LoanID : LP001673 *** Probability to be Approved : 0.7796226583638349,   ***  Loan Aplication Result: 1
LoanID : LP001682 *** Probability to be Approved : 0.8279347980183572,   ***  Loan Aplication Result: 1
LoanID : LP001699 *** Probability to be Approved : 0.812000726232305,   ***  Loan Aplication Result: 1
LoanID : LP001722 *** Probability to be Approved : 0.8439332526720288,   ***  Loan Aplication Result: 1
LoanID : LP001743 *** Probability to be Approved : 0.8901092575910481,   ***  Loan Aplication Result: 1
LoanID : LP001811 *** Probability to be Approved : 0.7033090690206297,   ***  Loan Aplication Result: 1
LoanID : LP001819 *** Probability to be Approved : 0.7684240284246413,   ***  Loan Aplication Result: 1
LoanID : LP001877 *** Probability to be Approved : 0.8791703822248096,   ***  Loan Aplication Result: 1
LoanID : LP001900 *** Probability to be Approved : 0.8716367993193511,   ***  Loan Aplication Result: 1
LoanID : LP001907 *** Probability to be Approved : 0.7791859300745437,   ***  Loan Aplication Result: 1
LoanID : LP001922 *** Probability to be Approved : 0.8793595654499106,   ***  Loan Aplication Result: 1
LoanID : LP001936 *** Probability to be Approved : 0.8403755394505945,   ***  Loan Aplication Result: 1
LoanID : LP001940 *** Probability to be Approved : 0.8793463300557524,   ***  Loan Aplication Result: 1
LoanID : LP001955 *** Probability to be Approved : 0.7371594560004384,   ***  Loan Aplication Result: 1
LoanID : LP001964 *** Probability to be Approved : 0.06554466591199774,   ***  Loan Aplication Result: 0
LoanID : LP002024 *** Probability to be Approved : 0.8347230140491766,   ***  Loan Aplication Result: 1
LoanID : LP002051 *** Probability to be Approved : 0.8494881959362655,   ***  Loan Aplication Result: 1
LoanID : LP002097 *** Probability to be Approved : 0.7683122483335789,   ***  Loan Aplication Result: 1
LoanID : LP002103 *** Probability to be Approved : 0.8336246208698317,   ***  Loan Aplication Result: 1
LoanID : LP002113 *** Probability to be Approved : 0.06095197039954207,   ***  Loan Aplication Result: 0
LoanID : LP002130 *** Probability to be Approved : 0.05522269385427848,   ***  Loan Aplication Result: 0
LoanID : LP002143 *** Probability to be Approved : 0.8642044149810532,   ***  Loan Aplication Result: 1
LoanID : LP002149 *** Probability to be Approved : 0.870080356296256,   ***  Loan Aplication Result: 1
LoanID : LP002194 *** Probability to be Approved : 0.836648935476054,   ***  Loan Aplication Result: 1
LoanID : LP002205 *** Probability to be Approved : 0.07658375983360362,   ***  Loan Aplication Result: 0
LoanID : LP002234 *** Probability to be Approved : 0.7342965469103093,   ***  Loan Aplication Result: 1
LoanID : LP002255 *** Probability to be Approved : 0.8172088057085592,   ***  Loan Aplication Result: 1
LoanID : LP002262 *** Probability to be Approved : 0.8794210069751709,   ***  Loan Aplication Result: 1
LoanID : LP002277 *** Probability to be Approved : 0.09724781497117559,   ***  Loan Aplication Result: 0
LoanID : LP002297 *** Probability to be Approved : 0.5349188867236554,   ***  Loan Aplication Result: 1
LoanID : LP002308 *** Probability to be Approved : 0.7234916046853362,   ***  Loan Aplication Result: 1
LoanID : LP002319 *** Probability to be Approved : 0.8419907822508933,   ***  Loan Aplication Result: 1
LoanID : LP002345 *** Probability to be Approved : 0.8502135148302029,   ***  Loan Aplication Result: 1
LoanID : LP002362 *** Probability to be Approved : 0.14804343095306216,   ***  Loan Aplication Result: 0
LoanID : LP002366 *** Probability to be Approved : 0.8357398140000517,   ***  Loan Aplication Result: 1
LoanID : LP002379 *** Probability to be Approved : 0.08128965794688459,   ***  Loan Aplication Result: 0
LoanID : LP002386 *** Probability to be Approved : 0.64527463181293,   ***  Loan Aplication Result: 1
LoanID : LP002390 *** Probability to be Approved : 0.7694584188584285,   ***  Loan Aplication Result: 1
LoanID : LP002403 *** Probability to be Approved : 0.054840163497515505,   ***  Loan Aplication Result: 0
LoanID : LP002422 *** Probability to be Approved : 0.8082772235289498,   ***  Loan Aplication Result: 1
LoanID : LP002443 *** Probability to be Approved : 0.15407987491174294,   ***  Loan Aplication Result: 0
LoanID : LP002448 *** Probability to be Approved : 0.11647932075592861,   ***  Loan Aplication Result: 0
LoanID : LP002478 *** Probability to be Approved : 0.7973094844458558,   ***  Loan Aplication Result: 1
LoanID : LP002501 *** Probability to be Approved : 0.8779414371992776,   ***  Loan Aplication Result: 1
LoanID : LP002531 *** Probability to be Approved : 0.8862253450942226,   ***  Loan Aplication Result: 1
LoanID : LP002543 *** Probability to be Approved : 0.8623706102346287,   ***  Loan Aplication Result: 1
LoanID : LP002545 *** Probability to be Approved : 0.12143483061828081,   ***  Loan Aplication Result: 0
LoanID : LP002547 *** Probability to be Approved : 0.7939297625055018,   ***  Loan Aplication Result: 1
LoanID : LP002603 *** Probability to be Approved : 0.7474386276058744,   ***  Loan Aplication Result: 1
LoanID : LP002619 *** Probability to be Approved : 0.7349414786414048,   ***  Loan Aplication Result: 1
LoanID : LP002626 *** Probability to be Approved : 0.7881038434620667,   ***  Loan Aplication Result: 1
LoanID : LP002643 *** Probability to be Approved : 0.8711705973496308,   ***  Loan Aplication Result: 1
LoanID : LP002716 *** Probability to be Approved : 0.6010004615232918,   ***  Loan Aplication Result: 1
LoanID : LP002755 *** Probability to be Approved : 0.7439110630641392,   ***  Loan Aplication Result: 1
LoanID : LP002785 *** Probability to be Approved : 0.8386676543727477,   ***  Loan Aplication Result: 1
LoanID : LP002792 *** Probability to be Approved : 0.9388399229005082,   ***  Loan Aplication Result: 1
LoanID : LP002794 *** Probability to be Approved : 0.7842682964171105,   ***  Loan Aplication Result: 1
LoanID : LP002833 *** Probability to be Approved : 0.7605726768848595,   ***  Loan Aplication Result: 1
LoanID : LP002836 *** Probability to be Approved : 0.7994290620519886,   ***  Loan Aplication Result: 1
LoanID : LP002840 *** Probability to be Approved : 0.9245855856771282,   ***  Loan Aplication Result: 1
LoanID : LP002855 *** Probability to be Approved : 0.8586525115152006,   ***  Loan Aplication Result: 1
LoanID : LP002862 *** Probability to be Approved : 0.759659770927419,   ***  Loan Aplication Result: 1
LoanID : LP002877 *** Probability to be Approved : 0.8764107350757352,   ***  Loan Aplication Result: 1
LoanID : LP002892 *** Probability to be Approved : 0.8715139997913889,   ***  Loan Aplication Result: 1
LoanID : LP002893 *** Probability to be Approved : 0.3598375101745932,   ***  Loan Aplication Result: 0
LoanID : LP002917 *** Probability to be Approved : 0.6861097366532287,   ***  Loan Aplication Result: 1
LoanID : LP002936 *** Probability to be Approved : 0.8331782799860405,   ***  Loan Aplication Result: 1
LoanID : LP002950 *** Probability to be Approved : 0.703639952409363,   ***  Loan Aplication Result: 1
LoanID : LP002958 *** Probability to be Approved : 0.6832117811960525,   ***  Loan Aplication Result: 1
LoanID : LP002974 *** Probability to be Approved : 0.8599567883022349,   ***  Loan Aplication Result: 1
LoanID : LP002978 *** Probability to be Approved : 0.822686283677821,   ***  Loan Aplication Result: 1
LoanID : LP002979 *** Probability to be Approved : 0.9489957292802869,   ***  Loan Aplication Result: 1
LoanID : LP002990 *** Probability to be Approved : 0.06982909472816186,   ***  Loan Aplication Result: 0